.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #363636; 
    width: 100%;
  }

  #botones button {
    margin-right: 10px;
    padding: 10px 20px; 
    font-size: 18px; 
    font-weight: bold;
  }

  #btnBuscar{
    margin-right: 10px;
    font-weight: bold;
  }
  